
Passed: {{GreenInt .Summary.RuleResults.PASS}}, Failed: {{RedInt .Summary.RuleResults.FAIL}}, Waived: {{CyanInt .Summary.RuleResults.WAIVED}}
{{range $ruleResults := .FailuresByRule}}{{if $ruleResults.Results}}
{{if $ruleResults.RuleID}}{{Cyan $ruleResults.RuleID}}{{else}}{{Cyan $ruleResults.RuleName}}{{end}}: {{Bold $ruleResults.RuleSummary}} {{Severity $ruleResults.RuleSeverity}}
{{range $index, $rr := $ruleResults.Results}}
    {{ResultIndex $rr $index}} {{$rr.ResourceType}}.{{$rr.ResourceID}}
         in {{$rr.Filepath}}
    {{if $rr.RuleMessage}}{{$rr.RuleMessage}}
{{end}}{{end}}{{end}}{{end}}