{{/* RANGE OVER ALL RULES */}}
{{ range $ruleResults := .FailuresByRule -}}
{{- /* RULE HEADER */ -}}
{{- if $ruleResults.Results }}
{{- if $ruleResults.RuleID }}
{{- Cyan $ruleResults.RuleID }}
{{- else -}}
{{- Cyan $ruleResults.RuleName }}
{{- end -}}: {{- Bold " " $ruleResults.RuleSummary }} {{ Severity $ruleResults.RuleSeverity }}
{{/* RULE RESULTS FOR A SINGLE RULE */}}
{{- range $index, $rr := $ruleResults.Results }}
  {{ ResultIndex $rr $index }} {{ $rr.ResourceID }}
  {{ PadIndex $rr $index }} in {{ LocationIndex $rr $index }}
  {{- if $rr.RuleMessage }}
  {{ PadIndex $rr $index }} {{ Italic $rr.RuleMessage }}
  {{- end }}
{{ end }}
{{ end }}
{{- end -}}

{{- /* SUMMARY */ -}}
{{- if eq .Summary.RuleResults.FAIL 0 }}
    {{- Green "No problems found." }}
    {{- if gt .Summary.RuleResults.PASS 0 }} {{ Praise | Green | Italic }}
    {{- end }}
{{- else if eq .Summary.RuleResults.FAIL 1 }}
    {{- Red "Found one problem." }}
{{- else }}
    {{- Red "Found " .Summary.RuleResults.FAIL " problems." }}
{{- end }}
