swagger: "2.0"
host: api.riskmanager.fugue.co
basePath: /v0
info:
  title: Fugue API
  version: 0.0.1
tags:
- name: environments
- name: scans
- name: events
- name: metadata
- name: rule_bundles
securityDefinitions:
  CustomerApiAuthorizer:
    type: apiKey
    in: header
    name: Authorization
    x-amazon-apigateway-authtype: custom
    x-amazon-apigateway-authorizer:
      type: request
      authorizerUri:
        Fn::Sub:
        - arn:aws:apigateway:${Region}:lambda:path/2015-03-31/functions/${Arn}/invocations
        - Region:
            Ref: AWS::Region
          Arn:
            Fn::ImportValue: customer-api-auth:CustomerApiAuthorizerFunction
      authorizerCredentials:
        Fn::Sub: ${ApiGatewayAccountRole.Arn}
      authorizerResultTtlInSeconds: 300
      identitySource: method.request.header.Authorization
schemes:
- https
consumes:
- application/json
produces:
- application/json
x-amazon-apigateway-gateway-responses:
  DEFAULT_4XX:
    responseParameters:
      gatewayresponse.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key'''
      gatewayresponse.header.Access-Control-Allow-Methods: '''*'''
      gatewayresponse.header.Access-Control-Allow-Origin: '''*'''
    responseTemplates:
      application/json: '{"type": "BadRequest", "code": 400, "message": "Unable to
        process request" }'
  UNAUTHORIZED:
    responseParameters:
      gatewayresponse.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key'''
      gatewayresponse.header.Access-Control-Allow-Methods: '''*'''
      gatewayresponse.header.Access-Control-Allow-Origin: '''*'''
    responseTemplates:
      application/json: '{"type": "AuthenticationError", "code": 401, "message": "Invalid
        or missing authentication token"}'
  ACCESS_DENIED:
    responseParameters:
      gatewayresponse.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key'''
      gatewayresponse.header.Access-Control-Allow-Methods: '''*'''
      gatewayresponse.header.Access-Control-Allow-Origin: '''*'''
    responseTemplates:
      application/json: '{"type": "AuthenticationError", "code": 401, "message": "Invalid
        or missing authentication token"}'
  DEFAULT_5XX:
    responseParameters:
      gatewayresponse.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key'''
      gatewayresponse.header.Access-Control-Allow-Methods: '''*'''
      gatewayresponse.header.Access-Control-Allow-Origin: '''*'''
    responseTemplates:
      application/json: '{"type": "InternalServerError", "code": 500, "message": "Error
        while processing request" }'
x-amazon-apigateway-request-validators:
  all:
    validateRequestBody: true
    validateRequestParameters: true
  paramsOnly:
    validateRequestBody: false
    validateRequestParameters: true
x-amazon-apigateway-request-validator: paramsOnly
paths:
  /swagger:
    get:
      summary: Returns the OpenAPI 2.0 specification for this API.
      description: Returns the OpenAPI 2.0 specification for this API.
      operationId: getSwagger
      produces:
      - application/json
      - application/yaml
      tags:
      - metadata
      responses:
        "200":
          description: OpenAPI 2.0 specification.
          schema:
            type: object
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: DomainServiceVpcLink
        responses:
          default:
            statusCode: "200"
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/swagger
        passthroughBehavior: when_no_match
        httpMethod: GET
        type: http_proxy
  /swagger/ui:
    get:
      operationId: getSwaggerUI
      summary: Returns a friendly user interface for the OpenAPI 2.0 specification
        for this API.
      description: Returns a friendly user interface for the OpenAPI 2.0 specification
        for this API.
      security: []
      produces:
      - text/html
      tags:
      - metadata
      responses:
        "200":
          description: The Swagger UI
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Type:
              type: string
      x-amazon-apigateway-integration:
        credentials:
          Fn::Sub: ${CustomerApiGatewayS3Role.Arn}
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Content-Type: '''text/html'''
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:s3:path/fugue-risk-manager-${AWS::Region}-${AWS::AccountId}/swagger/customer_api_swagger_ui.html
        passthroughBehavior: when_no_match
        httpMethod: GET
        type: aws
  /environments:
    get:
      summary: Lists details for all environments.
      description: Lists details for all environments.
      operationId: listEnvironments
      security:
      - CustomerApiAuthorizer: []
      tags:
      - environments
      parameters:
      - name: offset
        in: query
        required: false
        description: Number of items to skip before returning. This parameter is used
          when the number of items spans multiple pages.
        type: integer
        default: 0
        minimum: 0
      - name: max_items
        in: query
        required: false
        description: Maximum number of items to return.
        type: integer
        default: 100
        minimum: 1
        maximum: 100
      - name: order_by
        in: query
        required: false
        description: Field to sort the items by.
        type: string
        enum:
        - created_at
        - name
        - last_scan_at
        default: created_at
      - name: order_direction
        in: query
        required: false
        description: Direction to sort the items in.
        type: string
        enum:
        - asc
        - desc
        default: desc
      - name: query
        in: query
        required: false
        description: A stringified JSON array of search parameters.
        type: string
        minLength: 2
        maxLength: 1800
      responses:
        "200":
          description: List of environments and details.
          schema:
            $ref: '#/definitions/Environments'
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: DomainServiceVpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/environments
        passthroughBehavior: when_no_match
        httpMethod: GET
        type: http_proxy
    post:
      summary: Creates a new environment.
      description: Creates a new environment.
      operationId: createEnvironment
      security:
      - CustomerApiAuthorizer: []
      tags:
      - environments
      parameters:
      - in: body
        name: environment
        required: true
        description: Configuration options for the new environment.
        schema:
          $ref: '#/definitions/CreateEnvironmentInput'
      responses:
        "201":
          description: New environment details.
          schema:
            $ref: '#/definitions/Environment'
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "404":
          description: NotFoundError
          schema:
            $ref: '#/definitions/NotFoundError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: DomainServiceVpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/environments
        passthroughBehavior: when_no_match
        httpMethod: POST
        type: http_proxy
  /environments/{environment_id}:
    get:
      summary: Retrieves details and resource summary for an environment.
      description: Retrieves details and resource summary for an environment.
      operationId: getEnvironment
      security:
      - CustomerApiAuthorizer: []
      tags:
      - environments
      parameters:
      - name: environment_id
        in: path
        required: true
        description: Environment ID.
        type: string
      responses:
        "200":
          description: Environment details.
          schema:
            $ref: '#/definitions/EnvironmentWithSummary'
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "404":
          description: NotFoundError
          schema:
            $ref: '#/definitions/NotFoundError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: DomainServiceVpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
          integration.request.path.environment_id: method.request.path.environment_id
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/environments/{environment_id}
        passthroughBehavior: when_no_match
        httpMethod: GET
        type: http_proxy
    patch:
      summary: Updates an environment.
      description: Updates an environment.
      operationId: updateEnvironment
      security:
      - CustomerApiAuthorizer: []
      tags:
      - environments
      parameters:
      - name: environment_id
        in: path
        required: true
        description: Environment ID.
        type: string
      - in: body
        name: environment
        description: Environment details to update.
        schema:
          $ref: '#/definitions/UpdateEnvironmentInput'
      responses:
        "200":
          description: Updated environment details.
          schema:
            $ref: '#/definitions/Environment'
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "404":
          description: NotFoundError
          schema:
            $ref: '#/definitions/NotFoundError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: DomainServiceVpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
          integration.request.path.environment_id: method.request.path.environment_id
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/environments/{environment_id}
        passthroughBehavior: when_no_match
        httpMethod: PATCH
        type: http_proxy
    delete:
      summary: Deletes an environment.
      description: Deletes an environment.
      operationId: deleteEnvironment
      security:
      - CustomerApiAuthorizer: []
      tags:
      - environments
      parameters:
      - name: environment_id
        in: path
        required: true
        description: Environment ID.
        type: string
      responses:
        "204":
          description: Environment deleted.
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "404":
          description: NotFoundError
          schema:
            $ref: '#/definitions/NotFoundError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: DomainServiceVpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
          integration.request.path.environment_id: method.request.path.environment_id
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/environments/{environment_id}
        passthroughBehavior: when_no_match
        httpMethod: DELETE
        type: http_proxy
  /environments/{environment_id}/rules:
    get:
      summary: Retrieves active rules for an environment.
      description: Returns the rules that would be applied to this environment according
        to its current environment settings.
      operationId: getEnvironmentRules
      security:
      - CustomerApiAuthorizer: []
      tags:
      - environments
      parameters:
      - name: environment_id
        in: path
        required: true
        description: Environment ID.
        type: string
      responses:
        "200":
          description: Environment rules.
          schema:
            $ref: '#/definitions/EnvironmentRules'
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "404":
          description: NotFoundError
          schema:
            $ref: '#/definitions/NotFoundError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: DomainServiceVpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
          integration.request.path.environment_id: method.request.path.environment_id
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/environments/{environment_id}/rules
        passthroughBehavior: when_no_match
        httpMethod: GET
        type: http_proxy
  /metadata/{provider}/permissions:
    post:
      summary: Returns the permissions required to survey and remediate resources.
      description: Returns the permissions required to survey and remediate resources.
      operationId: createPolicy
      security:
      - CustomerApiAuthorizer: []
      tags:
      - metadata
      parameters:
      - name: provider
        in: path
        required: true
        description: Name of the cloud provider.
        type: string
        enum:
        - aws
        - aws_govcloud
      - name: input
        in: body
        required: true
        description: List of resource types to be able to survey and remediate.
        schema:
          $ref: '#/definitions/CreatePolicyInput'
      responses:
        "201":
          description: Permissions for surveying and remediating the specified resource
            types.
          schema:
            $ref: '#/definitions/Permissions'
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: VpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
          integration.request.path.provider: method.request.path.provider
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/metadata/{provider}/permissions
        passthroughBehavior: when_no_match
        httpMethod: POST
        type: http_proxy
  /metadata/{provider}/resource_types:
    get:
      summary: Lists the resource types supported by Fugue.
      description: Lists the resource types supported by Fugue.
      operationId: getResourceTypes
      security:
      - CustomerApiAuthorizer: []
      tags:
      - metadata
      parameters:
      - name: provider
        in: path
        required: true
        description: Name of the cloud provider.
        type: string
        enum:
        - aws
        - aws_govcloud
        - azure
        - google
      - name: region
        in: query
        required: false
        description: The AWS region for which to return resource types.  Required
          if provider is aws or aws_govcloud.
        type: string
      - name: beta_resources
        in: query
        required: false
        description: Indicates whether resource types in beta will be returned.
        type: boolean
      responses:
        "200":
          description: List of supported resource types.
          schema:
            $ref: '#/definitions/ResourceTypeMetadata'
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: DomainServiceVpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.path.provider: method.request.path.provider
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Request-Id: context.requestId
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/metadata/{provider}/resource_types
        passthroughBehavior: when_no_match
        httpMethod: GET
        type: http_proxy
  /scans:
    get:
      summary: Lists scans for an environment.
      description: Lists scans for an environment.
      operationId: listScans
      security:
      - CustomerApiAuthorizer: []
      tags:
      - scans
      parameters:
      - name: environment_id
        in: query
        required: true
        description: ID of the environment to retrieve scans for.
        type: string
      - name: offset
        in: query
        required: false
        description: Number of items to skip before returning. This parameter is used
          when the number of items spans multiple pages.
        type: integer
        default: 0
        minimum: 0
      - name: max_items
        in: query
        required: false
        description: Maximum number of items to return.
        type: integer
        default: 100
        minimum: 1
        maximum: 100
      - name: order_by
        in: query
        required: false
        description: Field to sort the items by.
        type: string
        enum:
        - created_at
        - finished_at
        - updated_at
        default: created_at
      - name: order_direction
        in: query
        required: false
        description: Direction to sort the items in.
        type: string
        enum:
        - asc
        - desc
        default: desc
      - name: status
        in: query
        required: false
        collectionFormat: multi
        description: Status to filter by. When not specified, all statuses will be
          returned.
        type: array
        items:
          type: string
          enum:
          - CREATED
          - QUEUED
          - IN_PROGRESS
          - ERROR
          - SUCCESS
          - CANCELED
      - name: range_from
        in: query
        required: false
        description: Earliest created_at time to return scans from.
        type: integer
        minimum: 0
      - name: range_to
        in: query
        required: false
        description: Latest created_at time to return scans from.
        type: integer
        minimum: 0
      responses:
        "200":
          description: List of scans.
          schema:
            $ref: '#/definitions/Scans'
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: VpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/scans
        passthroughBehavior: when_no_match
        httpMethod: GET
        type: http_proxy
    post:
      summary: Creates and triggers a new environment scan.
      description: Creates and triggers a new environment scan.
      operationId: createScan
      security:
      - CustomerApiAuthorizer: []
      tags:
      - scans
      parameters:
      - name: environment_id
        in: query
        required: true
        description: ID of the environment to scan.
        type: string
      responses:
        "201":
          description: Scan details.
          schema:
            $ref: '#/definitions/Scan'
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: VpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/scans
        passthroughBehavior: when_no_match
        httpMethod: POST
        type: http_proxy
  /scans/{scan_id}:
    get:
      summary: Retrieves details for a scan.
      description: Retrieves details for a scan.
      operationId: getScan
      security:
      - CustomerApiAuthorizer: []
      tags:
      - scans
      parameters:
      - name: scan_id
        in: path
        required: true
        description: Scan ID.
        type: string
      responses:
        "200":
          description: Scan details.
          schema:
            $ref: '#/definitions/ScanWithSummary'
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "404":
          description: NotFoundError
          schema:
            $ref: '#/definitions/NotFoundError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: VpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
          integration.request.path.scan_id: method.request.path.scan_id
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/scans/{scan_id}
        passthroughBehavior: when_no_match
        httpMethod: GET
        type: http_proxy
  /scans/{scan_id}/compliance_by_rules:
    get:
      summary: Lists compliance results by rule for a scan.
      description: Lists compliance results by rule for a scan.
      operationId: getComplianceByRules
      security:
      - CustomerApiAuthorizer: []
      tags:
      - scans
      parameters:
      - name: scan_id
        in: path
        required: true
        description: Scan ID.
        type: string
      - name: offset
        in: query
        required: false
        description: Number of items to skip before returning. This parameter is used
          when the number of items spans multiple pages.
        type: integer
        default: 0
        minimum: 0
      - name: max_items
        in: query
        required: false
        description: Maximum number of items to return.
        type: integer
        default: 100
        minimum: 1
        maximum: 100
      - name: family
        in: query
        required: false
        collectionFormat: multi
        description: Compliance family to filter by. When not specified, all compliance
          families will be returned.
        type: array
        items:
          type: string
      - name: result
        in: query
        required: false
        collectionFormat: multi
        description: Rule result to filter by. When not specified, all results will
          be returned.
        type: array
        items:
          type: string
          enum:
          - PASS
          - FAIL
          - UNKNOWN
      responses:
        "200":
          description: List of compliance results from a scan grouped by rule.
          schema:
            $ref: '#/definitions/ComplianceByRules'
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "404":
          description: NotFoundError
          schema:
            $ref: '#/definitions/NotFoundError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: VpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
          integration.request.path.scan_id: method.request.path.scan_id
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/scans/{scan_id}/compliance_by_rules
        passthroughBehavior: when_no_match
        httpMethod: GET
        type: http_proxy
  /scans/{scan_id}/compliance_by_resource_types:
    get:
      summary: Lists compliance results by resource type for a scan.
      description: Lists compliance results by resource type for a scan.
      operationId: getComplianceByResourceTypes
      security:
      - CustomerApiAuthorizer: []
      tags:
      - scans
      parameters:
      - name: scan_id
        in: path
        required: true
        description: Scan ID.
        type: string
      - name: offset
        in: query
        required: false
        description: Number of items to skip before returning. This parameter is used
          when the number of items spans multiple pages.
        type: integer
        default: 0
        minimum: 0
      - name: max_items
        in: query
        required: false
        description: Maximum number of items to return.
        type: integer
        default: 100
        minimum: 1
        maximum: 100
      - name: resource_type
        in: query
        required: false
        collectionFormat: multi
        description: Resource types to filter by. When not specified, all resource
          types will be returned.
        type: array
        items:
          type: string
      - name: family
        in: query
        required: false
        collectionFormat: multi
        description: Compliance family to filter by. When not specified, all compliance
          families will be returned.
        type: array
        items:
          type: string
      responses:
        "200":
          description: List of compliance results from a scan grouped by resource
            type.
          schema:
            $ref: '#/definitions/ComplianceByResourceTypeOutput'
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "404":
          description: NotFoundError
          schema:
            $ref: '#/definitions/NotFoundError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: VpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
          integration.request.path.scan_id: method.request.path.scan_id
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/scans/{scan_id}/compliance_by_resource_types
        passthroughBehavior: when_no_match
        httpMethod: GET
        type: http_proxy
  /events:
    get:
      summary: Lists drift, remediation, and compliance events for an environment.
      description: Lists drift, remediation, and compliance events for an environment.
      operationId: listEvents
      security:
      - CustomerApiAuthorizer: []
      tags:
      - events
      parameters:
      - name: environment_id
        in: query
        required: true
        description: Environment ID.
        type: string
      - name: offset
        in: query
        required: false
        description: Number of items to skip before returning. This parameter is used
          when the number of items spans multiple pages.
        type: integer
        default: 0
        minimum: 0
      - name: max_items
        in: query
        required: false
        description: Maximum number of items to return.
        type: integer
        default: 100
        minimum: 1
        maximum: 100
      - name: range_from
        in: query
        required: false
        description: Earliest created_at time to return events from.
        type: integer
      - name: range_to
        in: query
        required: false
        description: Latest created_at time to return events from.
        type: integer
      - name: event_type
        description: Event type to filter by. When not specified, all event types
          will be returned.
        in: query
        type: array
        collectionFormat: multi
        items:
          type: string
          enum:
          - DRIFT
          - REMEDIATION
          - COMPLIANCE
      - name: change
        description: Type of change made in the event to filter by. When not specified,
          all change types will be returned.
        in: query
        type: array
        collectionFormat: multi
        items:
          type: string
          enum:
          - ADDED
          - MODIFIED
          - REMOVED
      - name: remediated
        description: Filter remediation results for an event by success or failure.
          When not specified, all remediation results will be returned.
        in: query
        type: array
        collectionFormat: multi
        items:
          type: string
          enum:
          - SUCCESS
          - FAIL
      - name: resource_type
        description: Resource types in the event to filter by. When not specified,
          all resource types will be returned.
        in: query
        type: array
        collectionFormat: multi
        items:
          type: string
      responses:
        "200":
          description: List of drift, remediation, and compliance events.
          schema:
            $ref: '#/definitions/Events'
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "404":
          description: NotFoundError
          schema:
            $ref: '#/definitions/NotFoundError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: DomainServiceVpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/events
        passthroughBehavior: when_no_match
        httpMethod: GET
        type: http_proxy
  /notifications:
    get:
      summary: Lists details for all notifications.
      description: Lists details for all notifications.
      operationId: listNotifications
      security:
      - CustomerApiAuthorizer: []
      tags:
      - notifications
      parameters:
      - name: offset
        in: query
        required: false
        description: Number of items to skip before returning. This parameter is used
          when the number of items spans multiple pages.
        type: integer
        default: 0
        minimum: 0
      - name: max_items
        in: query
        required: false
        description: Maximum number of items to return.
        type: integer
        default: 100
        minimum: 1
        maximum: 100
      responses:
        "200":
          description: List of notification details.
          schema:
            $ref: '#/definitions/Notifications'
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: VpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/notifications
        passthroughBehavior: when_no_match
        httpMethod: GET
        type: http_proxy
    post:
      summary: Creates a new notification.
      description: Creates a new notification.
      operationId: createNotification
      security:
      - CustomerApiAuthorizer: []
      tags:
      - notifications
      parameters:
      - in: body
        name: notification
        required: true
        description: Configuration options for the new notification.
        schema:
          $ref: '#/definitions/CreateNotificationInput'
      responses:
        "201":
          description: New notification details.
          schema:
            $ref: '#/definitions/Notification'
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "404":
          description: NotFoundError
          schema:
            $ref: '#/definitions/NotFoundError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: VpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/notifications
        passthroughBehavior: when_no_match
        httpMethod: POST
        type: http_proxy
  /notifications/{notification_id}:
    put:
      summary: Updates an existing notification.
      description: Updates an existing notification.
      operationId: updateNotification
      security:
      - CustomerApiAuthorizer: []
      tags:
      - notifications
      parameters:
      - name: notification_id
        in: path
        required: true
        description: Notification ID.
        type: string
      - in: body
        name: notification
        required: true
        description: New configuration options for the notification.
        schema:
          $ref: '#/definitions/UpdateNotificationInput'
      responses:
        "200":
          description: New notification details.
          schema:
            $ref: '#/definitions/Notification'
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "404":
          description: NotFoundError
          schema:
            $ref: '#/definitions/NotFoundError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: VpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
          integration.request.path.notification_id: method.request.path.notification_id
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/notifications/{notification_id}
        passthroughBehavior: when_no_match
        httpMethod: PUT
        type: http_proxy
    delete:
      summary: Deletes a notification.
      description: Deletes a notification.
      operationId: deleteNotification
      security:
      - CustomerApiAuthorizer: []
      tags:
      - notifications
      parameters:
      - name: notification_id
        in: path
        required: true
        description: Notification ID.
        type: string
      responses:
        "204":
          description: Notification deleted.
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "404":
          description: NotFoundError
          schema:
            $ref: '#/definitions/NotFoundError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: VpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
          integration.request.path.notification_id: method.request.path.notification_id
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/notifications/{notification_id}
        passthroughBehavior: when_no_match
        httpMethod: DELETE
        type: http_proxy
  /rules:
    post:
      operationId: createCustomRule
      summary: Create a new custom rule.
      description: |
        Create a new custom rule.
      produces:
      - application/json
      security:
      - CustomerApiAuthorizer: []
      parameters:
      - in: body
        name: rule
        required: true
        description: Configuration options for the new custom rule.
        schema:
          $ref: '#/definitions/CreateCustomRuleInput'
      tags:
      - customRules
      responses:
        "201":
          description: New custom rule details.
          schema:
            $ref: '#/definitions/CustomRuleWithErrors'
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: VpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/rules
        passthroughBehavior: when_no_match
        httpMethod: POST
        type: http_proxy
    get:
      operationId: listCustomRules
      summary: List custom rules.
      description: |
        Return a list of custom rules.
      produces:
      - application/json
      security:
      - CustomerApiAuthorizer: []
      parameters:
      - name: offset
        in: query
        required: false
        description: Number of items to skip before returning. This parameter is used
          when the number of items spans multiple pages.
        type: integer
        default: 0
        minimum: 0
      - name: max_items
        in: query
        required: false
        description: Maximum number of items to return.
        type: integer
        default: 100
        minimum: 1
        maximum: 100
      - name: status
        in: query
        required: false
        description: Filter on rule status.
        type: string
        enum:
        - ENABLED
        - DISABLED
        - INVALID
      - name: query
        in: query
        required: false
        description: A stringified JSON array of search parameters.
        type: string
        minLength: 2
        maxLength: 1800
      tags:
      - customRules
      responses:
        "200":
          description: List of custom rules.
          schema:
            $ref: '#/definitions/CustomRules'
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: VpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/rules
        passthroughBehavior: when_no_match
        httpMethod: GET
        type: http_proxy
  /rules/{rule_id}:
    get:
      operationId: getCustomRule
      summary: Get details on a single custom rule.
      description: |
        Get details on a single custom rule.
      produces:
      - application/json
      security:
      - CustomerApiAuthorizer: []
      parameters:
      - name: rule_id
        in: path
        required: true
        description: The ID of the Rule to get.
        type: string
      tags:
      - customRules
      responses:
        "200":
          description: Custom rule details.
          schema:
            $ref: '#/definitions/CustomRule'
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "404":
          description: NotFoundError
          schema:
            $ref: '#/definitions/NotFoundError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: VpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
          integration.request.path.rule_id: method.request.path.rule_id
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/rules/{rule_id}
        passthroughBehavior: when_no_match
        httpMethod: GET
        type: http_proxy
    patch:
      operationId: updateCustomRule
      summary: Update custom rule.
      description: |
        Update configuration of a custom rule.
      produces:
      - application/json
      security:
      - CustomerApiAuthorizer: []
      parameters:
      - name: rule_id
        in: path
        required: true
        description: The id of the rule to update.
        type: string
      - in: body
        name: rule
        required: true
        description: New configuration options for the custom rule.
        schema:
          $ref: '#/definitions/UpdateCustomRuleInput'
      tags:
      - customRules
      responses:
        "200":
          description: New custom rule details.
          schema:
            $ref: '#/definitions/CustomRuleWithErrors'
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "404":
          description: NotFoundError
          schema:
            $ref: '#/definitions/NotFoundError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: VpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
          integration.request.path.rule_id: method.request.path.rule_id
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/rules/{rule_id}
        passthroughBehavior: when_no_match
        httpMethod: PATCH
        type: http_proxy
    delete:
      operationId: deleteCustomRule
      summary: Delete a custom rule.
      description: |
        Delete a specified custom rule.
      produces:
      - application/json
      security:
      - CustomerApiAuthorizer: []
      parameters:
      - name: rule_id
        in: path
        required: true
        description: The id of the rule to delete.
        type: string
      tags:
      - customRules
      responses:
        "204":
          description: Custom rule deleted.
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: VpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
          integration.request.path.rule_id: method.request.path.rule_id
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/rules/{rule_id}
        passthroughBehavior: when_no_match
        httpMethod: DELETE
        type: http_proxy
  /rules/test:
    post:
      operationId: testCustomRule
      summary: Test a custom rule.
      description: |
        Test a custom rule using state from an scan.
      produces:
      - application/json
      security:
      - CustomerApiAuthorizer: []
      parameters:
      - name: via_download
        in: query
        required: false
        description: Force output to be downloadable.
        type: boolean
      - in: body
        name: rule
        required: true
        description: Information about custom rule to be tested.
        schema:
          $ref: '#/definitions/TestCustomRuleInput'
      tags:
      - customRules
      responses:
        "200":
          description: Validation results for the custom rule.
          schema:
            $ref: '#/definitions/TestCustomRuleOutput'
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: DomainServiceVpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/rules/test
        passthroughBehavior: when_no_match
        httpMethod: POST
        type: http_proxy
  /rules/test/input:
    get:
      operationId: testCustomRuleInput
      summary: Get the input for a custom rule test.
      description: |
        Get the input against which a custom rule would be tested.
      produces:
      - application/json
      security:
      - CustomerApiAuthorizer: []
      parameters:
      - name: via_download
        in: query
        required: false
        description: Force output to be downloadable.
        type: boolean
      - in: query
        name: scan_id
        required: true
        description: Scan of which we should get the custom rule test input.
        type: string
      tags:
      - customRules
      responses:
        "200":
          description: Input used for the custom rule.
          schema:
            $ref: '#/definitions/TestCustomRuleInputScan'
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: VpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/rules/test/input
        passthroughBehavior: when_no_match
        httpMethod: GET
        type: http_proxy
  /families:
    post:
      operationId: createFamily
      summary: Create a new custom compliance family.
      description: |
        Create a new custom compliance family.
      produces:
      - application/json
      security:
      - CustomerApiAuthorizer: []
      parameters:
      - in: body
        name: family
        required: true
        description: Configuration options for the new custom compliance family.
        schema:
          $ref: '#/definitions/CreateFamilyInput'
      tags:
      - families
      responses:
        "201":
          description: The newly-created custom compliance family.
          schema:
            $ref: '#/definitions/FamilyWithRules'
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: DomainServiceVpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Email: context.authorizer.email
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/families
        passthroughBehavior: when_no_match
        httpMethod: POST
        type: http_proxy
    get:
      operationId: listFamilies
      summary: List compliance families.
      description: |
        Return a list of compliance families.
      produces:
      - application/json
      security:
      - CustomerApiAuthorizer: []
      parameters:
      - name: offset
        in: query
        required: false
        description: Number of items to skip before returning. This parameter is used
          when the number of items spans multiple pages.
        type: integer
        default: 0
        minimum: 0
      - name: max_items
        in: query
        required: false
        description: Maximum number of items to return.
        type: integer
        default: 10
        minimum: 1
        maximum: 100
      - name: order_by
        in: query
        required: false
        description: Attribute to order families by
        type: string
        enum:
        - name
        - policy
        default: name
      - name: order_direction
        in: query
        required: false
        description: Order families in an ascending or descending fashion
        type: string
        enum:
        - asc
        - desc
        default: asc
      - name: query
        in: query
        required: false
        description: A stringified JSON array of search parameters.
        type: string
        minLength: 2
        maxLength: 1800
      tags:
      - families
      responses:
        "200":
          description: List of compliance families.
          schema:
            $ref: '#/definitions/Families'
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: DomainServiceVpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Email: context.authorizer.email
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/families_no_plan_filter
        passthroughBehavior: when_no_match
        httpMethod: GET
        type: http_proxy
  /families/{family_id}:
    get:
      operationId: getFamily
      summary: Look up Family.
      description: Return a specific Family.
      produces:
      - application/json
      security:
      - CustomerApiAuthorizer: []
      parameters:
      - name: family_id
        in: path
        required: true
        description: The id of the Family to look up.
        type: string
      tags:
      - families
      responses:
        "200":
          description: The desired Family.
          schema:
            $ref: '#/definitions/FamilyWithRules'
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "404":
          description: NotFoundError
          schema:
            $ref: '#/definitions/NotFoundError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: DomainServiceVpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Email: context.authorizer.email
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
          integration.request.path.family_id: method.request.path.family_id
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/families/{family_id}
        passthroughBehavior: when_no_match
        httpMethod: GET
        type: http_proxy
    delete:
      operationId: deleteFamily
      summary: Delete a Family.
      description: |
        Delete a Family.
      produces:
      - application/json
      security:
      - CustomerApiAuthorizer: []
      parameters:
      - name: family_id
        in: path
        required: true
        description: The id of the Family to delete.
        type: string
      tags:
      - families
      responses:
        "204":
          description: Family deleted.
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: DomainServiceVpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Email: context.authorizer.email
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
          integration.request.path.family_id: method.request.path.family_id
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/families/{family_id}
        passthroughBehavior: when_no_match
        httpMethod: DELETE
        type: http_proxy
    patch:
      operationId: updateFamily
      summary: Edit an existing user Family.
      description: |
        Edit an existing user Family.
      produces:
      - application/json
      security:
      - CustomerApiAuthorizer: []
      parameters:
      - name: family_id
        in: path
        required: true
        description: The id of the Family to update.
        type: string
      - in: body
        name: family
        required: true
        description: New configuration options for the Family.
        schema:
          $ref: '#/definitions/UpdateFamilyInput'
      tags:
      - families
      responses:
        "200":
          description: The updated Family.
          schema:
            $ref: '#/definitions/FamilyWithRules'
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "404":
          description: NotFoundError
          schema:
            $ref: '#/definitions/NotFoundError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: DomainServiceVpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Email: context.authorizer.email
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
          integration.request.path.family_id: method.request.path.family_id
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/families/{family_id}
        passthroughBehavior: when_no_match
        httpMethod: PATCH
        type: http_proxy
  /invites:
    get:
      summary: List details for all invites.
      description: List details for all invites.
      operationId: listInvites
      security:
      - CustomerApiAuthorizer: []
      tags:
      - invites
      parameters:
      - name: offset
        in: query
        required: false
        description: Number of items to skip before returning. This parameter is used
          when the number of items spans multiple pages.
        type: integer
        default: 0
        minimum: 0
      - name: max_items
        in: query
        required: false
        description: Maximum number of items to return.
        type: integer
        default: 100
        minimum: 1
        maximum: 100
      - name: order_direction
        in: query
        required: false
        description: Direction to sort the items in.
        type: string
        enum:
        - asc
        - desc
        default: desc
      - in: query
        name: email
        type: string
        required: false
        description: Used to filter list to a single invite by email.
      responses:
        "200":
          description: Invite details.
          schema:
            $ref: '#/definitions/Invites'
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "404":
          description: NotFoundError
          schema:
            $ref: '#/definitions/NotFoundError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: DomainServiceVpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/invites
        passthroughBehavior: when_no_match
        httpMethod: GET
        type: http_proxy
    post:
      summary: Creates a new invite.
      description: Creates a new invite.
      operationId: createInvite
      security:
      - CustomerApiAuthorizer: []
      tags:
      - invites
      parameters:
      - in: body
        name: invite
        required: true
        description: Configuration options for the new invite.
        schema:
          $ref: '#/definitions/CreateInviteInput'
      responses:
        "201":
          description: New invite details.
          schema:
            $ref: '#/definitions/Invite'
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "404":
          description: NotFoundError
          schema:
            $ref: '#/definitions/NotFoundError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: DomainServiceVpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/invites
        passthroughBehavior: when_no_match
        httpMethod: POST
        type: http_proxy
  /invites/{invite_id}:
    get:
      summary: Fetch an invite by id.
      description: Fetch an invite by id.
      operationId: getInviteById
      security:
      - CustomerApiAuthorizer: []
      tags:
      - invites
      parameters:
      - in: path
        name: invite_id
        type: string
        required: true
        description: id of the invite
      responses:
        "200":
          description: Invite details.
          schema:
            $ref: '#/definitions/Invite'
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "404":
          description: NotFoundError
          schema:
            $ref: '#/definitions/NotFoundError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: DomainServiceVpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
          integration.request.path.invite_id: method.request.path.invite_id
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/invites/{invite_id}
        passthroughBehavior: when_no_match
        httpMethod: GET
        type: http_proxy
  /groups:
    get:
      operationId: listGroups
      summary: List groups.
      description: |
        Return a list of groups.
      produces:
      - application/json
      security:
      - CustomerApiAuthorizer: []
      parameters:
      - name: offset
        in: query
        required: false
        description: Number of items to skip before returning. This parameter is used
          when the number of items spans multiple pages.
        type: integer
        default: 0
        minimum: 0
      - name: max_items
        in: query
        required: false
        description: Maximum number of items to return.
        type: integer
        default: 10
        minimum: 1
        maximum: 100
      - name: order_by
        in: query
        required: false
        description: Attribute to order groups by
        type: string
        enum:
        - name
        - policy
        default: name
      - name: order_direction
        in: query
        required: false
        description: Order groups in an ascending or descending fashion
        type: string
        enum:
        - asc
        - desc
        default: asc
      tags:
      - groups
      responses:
        "200":
          description: List of Groups.
          schema:
            $ref: '#/definitions/Groups'
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: DomainServiceVpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/groups
        passthroughBehavior: when_no_match
        httpMethod: GET
        type: http_proxy
    post:
      summary: Creates a new group.
      description: Creates a new group.
      operationId: createGroup
      security:
      - CustomerApiAuthorizer: []
      tags:
      - groups
      parameters:
      - in: body
        name: group
        required: true
        description: Configuration options for the new group.
        schema:
          $ref: '#/definitions/CreateGroupInput'
      responses:
        "201":
          description: New group details.
          schema:
            $ref: '#/definitions/Group'
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "404":
          description: NotFoundError
          schema:
            $ref: '#/definitions/NotFoundError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: DomainServiceVpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/groups
        passthroughBehavior: when_no_match
        httpMethod: POST
        type: http_proxy
  /users:
    get:
      summary: List details for all users.
      description: List details for all users.
      operationId: listUsers
      security:
      - CustomerApiAuthorizer: []
      tags:
      - users
      parameters:
      - name: offset
        in: query
        required: false
        description: Number of items to skip before returning. This parameter is used
          when the number of items spans multiple pages.
        type: integer
        default: 0
        minimum: 0
      - name: max_items
        in: query
        required: false
        description: Maximum number of items to return.
        type: integer
        default: 100
        minimum: 1
        maximum: 100
      - name: order_direction
        in: query
        required: false
        description: Direction to sort the items in.
        type: string
        enum:
        - asc
        - desc
        default: desc
      - in: query
        name: email
        type: string
        required: false
        description: Used to filter list to a single invite by email.
      responses:
        "200":
          description: User details.
          schema:
            $ref: '#/definitions/Users'
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "404":
          description: NotFoundError
          schema:
            $ref: '#/definitions/NotFoundError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: DomainServiceVpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/users
        passthroughBehavior: when_no_match
        httpMethod: GET
        type: http_proxy
    patch:
      operationId: editUsersGroupAssignments
      summary: Edit a list of Users' Group assignments.
      description: |
        Edit a list of Users' Group assignment.
      produces:
      - application/json
      security:
      - CustomerApiAuthorizer: []
      parameters:
      - in: body
        name: editGroupAssignments
        required: true
        description: User and Group IDs to be associated.
        schema:
          $ref: '#/definitions/EditUsersGroupAssignmentsInput'
      tags:
      - groups
      responses:
        "200":
          description: User Group assignment updated.
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "404":
          description: NotFoundError
          schema:
            $ref: '#/definitions/NotFoundError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: DomainServiceVpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/users
        passthroughBehavior: when_no_match
        httpMethod: PATCH
        type: http_proxy
  /users/{user_id}:
    get:
      summary: Fetch a user by id.
      description: Fetch a user by id.
      operationId: getUserById
      security:
      - CustomerApiAuthorizer: []
      tags:
      - users
      parameters:
      - in: path
        name: user_id
        type: string
        required: true
        description: id of the user
      responses:
        "200":
          description: User details.
          schema:
            $ref: '#/definitions/User'
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "404":
          description: NotFoundError
          schema:
            $ref: '#/definitions/NotFoundError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: DomainServiceVpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
          integration.request.path.user_id: method.request.path.user_id
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/users/{user_id}
        passthroughBehavior: when_no_match
        httpMethod: GET
        type: http_proxy
  /rule_waivers:
    get:
      summary: Lists details for all rule waivers.
      description: Lists details for all rule waivers.
      operationId: listRuleWaivers
      produces:
      - application/json
      security:
      - CustomerApiAuthorizer: []
      parameters:
      - name: offset
        in: query
        required: false
        description: Number of items to skip before returning. This parameter is used
          when the number of items spans multiple pages.
        type: integer
        default: 0
        minimum: 0
      - name: max_items
        in: query
        required: false
        description: Maximum number of items to return.
        type: integer
        default: 100
        minimum: 1
        maximum: 100
      - name: order_by
        in: query
        required: false
        description: Field to sort the items by.
        type: string
        enum:
        - name
        default: name
      - name: order_direction
        in: query
        required: false
        description: Direction to sort the items in.
        type: string
        enum:
        - asc
        - desc
        default: asc
      - name: query
        in: query
        required: false
        description: A stringified JSON array of search parameters.
        type: string
        minLength: 2
        maxLength: 1800
      tags:
      - rule_waivers
      responses:
        "200":
          description: List of rule waivers
          schema:
            $ref: '#/definitions/RuleWaivers'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: DomainServiceVpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/rule_waivers
        passthroughBehavior: when_no_match
        httpMethod: GET
        type: http_proxy
    post:
      summary: Creates a new rule waiver.
      description: Creates a new rule waiver.
      operationId: createRuleWaiver
      produces:
      - application/json
      x-amazon-apigateway-request-validator: all
      security:
      - CustomerApiAuthorizer: []
      parameters:
      - name: input
        in: body
        required: true
        description: Rule waiver parameters
        schema:
          $ref: '#/definitions/CreateRuleWaiverInput'
      tags:
      - rule_waivers
      responses:
        "201":
          description: New rule waiver details.
          schema:
            $ref: '#/definitions/RuleWaiver'
        "400":
          description: BadRequestError
          schema:
            $ref: '#/definitions/BadRequestError'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: DomainServiceVpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/rule_waivers
        passthroughBehavior: when_no_match
        httpMethod: POST
        type: http_proxy
  /rule_waivers/{rule_waiver_id}:
    get:
      summary: Retrieves details and rule metadata for a rule waiver.
      description: Retrieves details and rule metadata for a rule waiver.
      operationId: getRuleWaiver
      produces:
      - application/json
      security:
      - CustomerApiAuthorizer: []
      tags:
      - rule_waivers
      parameters:
      - name: rule_waiver_id
        in: path
        required: true
        description: The ID of rule waiver to update
        type: string
      responses:
        "200":
          description: Rule waiver details.
          schema:
            $ref: '#/definitions/RuleWaiver'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "404":
          description: NotFoundError
          schema:
            $ref: '#/definitions/NotFoundError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: DomainServiceVpcLink
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-Fugue-Principal-Name: context.authorizer.name
          integration.request.header.X-Fugue-Principal-Id: context.authorizer.principalId
          integration.request.header.X-Fugue-Tenant-Id: context.authorizer.tenantId
          integration.request.header.X-Fugue-Request-Id: context.requestId
          integration.request.path.rule_waiver_id: method.request.path.rule_waiver_id
        uri:
          Fn::Sub: http://customer-api.fugueriskmanager.com:${ApiServicePort}/rule_waivers/{rule_waiver_id}
        passthroughBehavior: when_no_match
        httpMethod: GET
        type: http_proxy
    patch:
      summary: Updates a rule waiver.
      description: Updates a rule waiver.
      operationId: updateRuleWaiver
      produces:
      - application/json
      security:
      - CustomerApiAuthorizer: []
      tags:
      - rule_waivers
      parameters:
      - name: rule_waiver_id
        in: path
        required: true
        description: The ID of rule waiver to update
        type: string
      - name: input
        in: body
        required: true
        description: Rule waiver update parameters
        schema:
          $ref: '#/definitions/UpdateRuleWaiverInput'
      responses:
        "200":
          description: Rule waiver details
          schema:
            $ref: '#/definitions/RuleWaiver'
        "401":
          description: AuthenticationError
          schema:
            $ref: '#/definitions/AuthenticationError'
        "403":
          description: AuthorizationError
          schema:
            $ref: '#/definitions/AuthorizationError'
        "404":
          description: NotFoundError
          schema:
            $ref: '#/definitions/NotFoundError'
        "500":
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      x-amazon-apigateway-integration:
        connectionType: VPC_LINK
        connectionId:
          Ref: DomainServiceVpcLink
        responses:
[...]
