name: main

on: [pull_request, push]

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test with Go ${{ matrix.go }}
    strategy:
      matrix:
        go: ["1.18", "1.19", "1.20"]
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}
    - name: Go test
      run: make test
    - name: Build
      run: make bin/regula
    - name: Run regula test
      run: |
        cd rego
        ../bin/regula test examples rules tests
        ../bin/regula test --no-test-inputs examples rules tests
